html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 16px;
  background-color: $body-bg-color;
  margin-bottom: 260px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 260px;
  background-color: $blue;
}