html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 16px;
  background-color: $body-bg-color;
  margin-bottom: 420px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 420px;
  background-color: $blue;
}
