html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 16px;
  background-color: $body-bg-color;
  margin-bottom: 260px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 260px;
  background-color: $blue;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    $blue;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $blue;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $blue;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $blue;
}