@mixin pompiere-regular {
  font-family: "Pompiere Regular", sans-serif;
}

@mixin roboto-regular {
  font-family: "Roboto Slab Regular", sans-serif;
}

@mixin roboto-light {
  font-family: "Roboto Slab Light", sans-serif;
}