$body-bg-color: #f2f5e1;
$white: #ffffff;
$yellow: #eaffc6;
$aqua: #9ee2de;
$red: #fd0036;
$black: #000000;
$green: #c4ed3e;

$navbar-bg-color: #0193a9;
$navbar-height: 70px;
$navbar-dropdown-text-color: #585c7b;

$blue: $navbar-bg-color;