@font-face {
  font-family: "Pompiere Regular";
  src: url("fonts/Pompiere/Pompiere-Regular.ttf");
}
@font-face {
  font-family: "Roboto Slab Regular";
  src: url("fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
}
@font-face {
  font-family: "Roboto Slab Light";
  src: url("fonts/Roboto_Slab/RobotoSlab-Light.ttf");
}
@font-face {
  font-family: "Permanent Marker Regular";
  src: url("fonts/Permanent_Marker/PermanentMarker.ttf");
}
.m25-left {
  margin-left: 25px;
}

.m20-left {
  margin-left: 20px;
}

.m15-bottom {
  margin-bottom: 15px;
}

.border-right-line {
  border-right: 1px solid #d6d6d6;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 16px;
  background-color: #f2f5e1;
  margin-bottom: 260px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 260px;
  background-color: #0193a9;
}

.nav-container {
  width: 100%;
  height: 70px;
  font-size: 1.5rem;
  background-color: #0193a9;
}

.hide {
  display: none;
}

.top-nav-wrapper {
  height: 70px;
  position: relative;
}

.nav-logo {
  line-height: 70px;
}

.nav-logo {
  display: inline-block;
  float: left;
  padding-left: 15px;
}

.nav-cat-drop-down, .nav-acct-drop-down, .nav-cart, .nav-search-box {
  height: 70px;
}

.nav-cat-drop-down, .nav-acct-drop-down, .nav-cart {
  display: inline-block;
  float: right;
  color: #ffffff;
  text-transform: uppercase;
}

.nav-acct-drop-down, .nav-cart, .nav-search-box {
  margin-left: 25px;
}

.nav-cart, .nav-acct-drop-down {
  line-height: 16px;
  padding-top: 15px;
  text-align: center;
  font-family: "Roboto Slab Light", sans-serif;
  font-size: 1.4rem;
}
.nav-cart > a, .nav-acct-drop-down > a {
  color: #ffffff;
  text-decoration: none;
}
.nav-cart > a > img, .nav-acct-drop-down > a > img {
  margin-bottom: 2px;
}
.nav-cart > a > span, .nav-acct-drop-down > a > span {
  line-height: 16px;
}

.nav-cat-drop-down {
  font-family: "Pompiere Regular", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}

.nav-cart {
  width: 64px;
}

.nav-search-box {
  display: inline-block;
  float: right;
  line-height: 70px;
}

.nav-acct-drop-down {
  width: 109px;
  padding-right: 15px;
}

.nav-bar-overlay {
  background-color: white !important;
  border-top: 2px solid red !important;
}
.nav-bar-overlay > a {
  color: black !important;
}

.nav-acct-drop-down-box {
  position: absolute;
  background-color: #ffffff;
  border-left: 1px solid #0193a9;
  border-bottom: 1px solid #0193a9;
  border-right: 1px solid #0193a9;
  width: 120px;
  top: 70px;
  right: -12px;
  z-index: 100;
  display: none;
  font-family: "Roboto Slab Light", sans-serif;
  font-size: 1.4rem;
  color: #585c7b;
}
.nav-acct-drop-down-box > ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 15px 0;
}
.nav-acct-drop-down-box > ul > li {
  margin-bottom: 15px;
}

.home-main-block {
  background-color: #f2f5e1;
}

.home-main-block-top {
  position: relative;
  background-image: url("../img/home/home-main-image.jpg");
  background-repeat: no-repeat;
  height: 441px;
}

.home-main-block-bottom {
  background-color: #9ee2de;
}
.home-main-block-bottom > ul {
  display: inline-block;
  list-style-type: none;
  margin: 25px 0;
}
.home-main-block-bottom > ul > li {
  float: left;
}
.home-main-block-bottom > ul > li {
  text-align: center;
  text-transform: uppercase;
}
.home-main-block-bottom > ul > li > span {
  font-family: "Permanent Marker Regular", sans-serif;
  font-size: 12px;
  color: #0193a9;
}
.home-main-block-bottom > ul > li > h1 {
  margin: 5px 0;
  font-family: "Pompiere Regular", sans-serif;
  font-size: 23px;
  color: #fd0036;
}
.home-main-block-bottom > ul > li > h2 {
  margin: 0;
  font-family: "Roboto Slab Light", sans-serif;
  font-size: 12px;
  color: black;
}

.main-tagline {
  position: absolute;
  background-color: #c4ed3e;
  top: 200px;
  left: 250px;
  padding: 5px 16px 0;
  margin: 0;
  z-index: 101;
}
.main-tagline > h1 {
  font-family: "Pompiere Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  color: #0193a9;
  text-transform: uppercase;
  margin: 0;
}

.main-block-search, .main-block-categories {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.main-block-search {
  padding: 20px 55px;
  top: 230px;
  left: 173px;
}
.main-block-search > form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0193a9;
}
.main-block-search > form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0193a9;
}
.main-block-search > form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0193a9;
}
.main-block-search > form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0193a9;
}
.main-block-search > form > input {
  width: 175px;
  font-family: "Roboto Slab Light", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: 55px;
  color: #0193a9;
  margin-right: 20px;
  vertical-align: top;
}
.main-block-search > form > input[type=text] {
  padding-left: 12px;
}

.main-block-categories {
  top: 340px;
  left: 173px;
  padding: 8px 0;
  line-height: 20px;
  width: 657px;
  text-align: center;
  font-family: "Roboto Slab Regular", sans-serif;
  font-size: 13px;
  color: #fd0036;
}
.main-block-categories > a {
  color: #fd0036;
}
.main-block-categories > a:hover {
  color: #e40031;
  text-decoration: underline;
}

.main-block-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: white !important;
  font-weight: bold;
  border: solid 1px #ef2b50;
  background: #ef2b50;
  font-size: 21px;
  font-family: "Roboto Slab Regular", sans-serif;
  padding: 12px 55px;
}
.main-block-button:hover {
  text-decoration: none;
  background: #f0395c;
}
.main-block-button:active {
  position: relative;
  top: 1px;
  color: #f0395c;
}

.why-camperoo-elements {
  margin-top: 12px;
}

.why-camperoo-element-divider {
  margin-top: 33px;
}

.why-camperoo-elements, .why-camperoo-element-divider {
  margin-left: 31px;
}

.explore-tag-line-container {
  background-color: white;
  position: relative;
  height: 150px;
}

.explore-tag-line {
  top: 40px;
  left: 82px;
}

.explore-tag-line-cont {
  top: 82px;
  left: 228px;
}

.explore-tag-line, .explore-tag-line-cont {
  position: absolute;
}
.explore-tag-line > h1, .explore-tag-line-cont > h1 {
  font-family: "Roboto Slab Light", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #0193a9;
  margin: 0;
  text-align: center;
  background-color: #c4ed3e;
}

.explore-link-blocks-container {
  background-color: white;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.explore-link-block-first, .explore-link-block {
  display: inline-block;
  border: 1px dashed black;
  padding: 10px;
}
.explore-link-block-first > h1, .explore-link-block > h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.explore-link-block-first > h1 > a, .explore-link-block > h1 > a {
  font-family: "Pompiere Regular", sans-serif;
  color: #fd0036;
  font-size: 20px;
}

.explore-link-block-first {
  margin-left: 40px;
}

.explore-link-block {
  margin-left: 20px;
}

.contact-block {
  background-color: white;
  position: relative;
}

.camperoo-concierge-headline {
  height: 110px;
}

.camperoo-concierge-contact, .camperoo-concierge-quote {
  height: 531px;
}

.camperoo-concierge-contact {
  margin-left: 40px;
}
.camperoo-concierge-contact > p {
  font-family: "Roboto Slab Light", sans-serif;
  margin: 0 0 30px;
  line-height: 25px;
  font-size: 17px;
}
.camperoo-concierge-contact > p > span {
  color: #fd0036;
}
.camperoo-concierge-contact > form input, .camperoo-concierge-contact > form textarea {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #f2f5e1;
  color: #4d4d4d;
  border: 1px solid #d6d6d6;
}
.camperoo-concierge-contact > form input ::-webkit-input-placeholder, .camperoo-concierge-contact > form textarea ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #d6d6d6;
}
.camperoo-concierge-contact > form input :-moz-placeholder, .camperoo-concierge-contact > form textarea :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #d6d6d6;
}
.camperoo-concierge-contact > form input ::-moz-placeholder, .camperoo-concierge-contact > form textarea ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d6d6d6;
}
.camperoo-concierge-contact > form input :-ms-input-placeholder, .camperoo-concierge-contact > form textarea :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #d6d6d6;
}
.camperoo-concierge-contact > form input {
  height: 55px;
}
.camperoo-concierge-contact > form input[type=text], .camperoo-concierge-contact > form input[type=email] {
  padding-left: 12px;
}
.camperoo-concierge-contact > form textarea {
  height: 185px;
  overflow: auto;
  padding: 15px 10px;
}

input#concierge-email {
  width: 80%;
}

input#concierge-zip {
  width: 30%;
}

textarea#concierge-message {
  width: 100%;
}

.form-group {
  margin-bottom: 25px !important;
}

.camperoo-concierge-quote > img {
  margin: 15px 0;
}
.camperoo-concierge-quote > q {
  display: block;
  font-family: "Pompiere Regular", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
}
.camperoo-concierge-quote > p {
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 25px;
}

.contact-us-block {
  font-family: "Roboto Slab Light", sans-serif;
  margin-bottom: 25px;
}
.contact-us-block > h1 {
  margin: 0 0 5px;
  font-size: 20px;
  text-transform: capitalize;
}
.contact-us-block > p {
  margin: 0 0 5px;
  font-size: 14px;
  color: #707070;
}
.contact-us-block > a {
  color: #fd0036;
  text-decoration: none;
  font-size: 14px;
}
.contact-us-block > a:hover {
  text-decoration: underline;
}
