@font-face {
  font-family: "Pompiere Regular";
  src: url("fonts/Pompiere/Pompiere-Regular.ttf");
}
@font-face {
  font-family: "Roboto Slab Regular";
  src: url("fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
}
@font-face {
  font-family: "Roboto Slab Light";
  src: url("fonts/Roboto_Slab/RobotoSlab-Light.ttf");
}
@font-face {
  font-family: "Permanent Marker Regular";
  src: url("fonts/Permanent_Marker/PermanentMarker.ttf");
}
.m25-left {
  margin-left: 25px;
}

.m20-left {
  margin-left: 20px;
}

.m15-bottom {
  margin-bottom: 15px;
}

.border-right-line {
  border-right: 1px solid #d6d6d6;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 16px;
  background-color: #f2f5e1;
  margin-bottom: 420px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 420px;
  background-color: #0193a9;
}

.nav-container {
  width: 100%;
  height: 130px;
  background-color: #0193a9;
}

.custom-hr {
  margin: 0;
  padding: 0;
}

.top-nav-wrapper {
  background-color: white;
  height: 40px;
  font-family: "Roboto Slab Light", sans-serif;
  color: #0193a9;
  font-size: 12px;
  line-height: 40px;
}

.top-nav-right {
  height: 40px;
  padding-right: 15px;
}
.top-nav-right > ul {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 0;
}
.top-nav-right > ul > li {
  float: left;
}
.top-nav-right > ul > li {
  margin-left: 10px;
}

.nav-cart {
  margin-left: 35px !important;
}
.nav-cart > a {
  color: black;
}
.nav-cart > a > img {
  padding-right: 3px;
}

.nav-logo {
  line-height: 90px;
}

.nav-logo {
  display: inline-block;
  float: left;
  padding-left: 15px;
}

.nav-right-side {
  float: right;
  padding-right: 15px;
  height: 90px;
}
.nav-right-side > ul {
  display: inline-block;
  list-style-type: none;
  font-family: "Roboto Slab Light", sans-serif;
  color: white;
  line-height: 90px;
  font-size: 12px;
  letter-spacing: 1px;
}
.nav-right-side > ul > li {
  float: left;
}
.nav-right-side > ul > li {
  text-transform: uppercase;
  margin-left: 15px;
}
.nav-right-side > ul > li > a {
  color: white;
}
.nav-right-side > ul > li > a:hover {
  text-decoration: underline;
}
.nav-right-side > ul > li > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-right-side > ul > li > ul > li {
  line-height: 20px;
}
.nav-right-side > ul > li > ul > li > a {
  color: white;
}

form#search-box {
  margin-top: 20px;
}
form#search-box ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0193a9;
}
form#search-box :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0193a9;
}
form#search-box ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0193a9;
}
form#search-box :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0193a9;
}

input#search-query {
  width: 248px;
  height: 34px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  color: #0193a9;
  text-transform: uppercase;
}

.custom-search-button {
  position: absolute;
  z-index: 101;
  right: 0px;
  background-color: white;
  border: 1px solid #cccccc;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

button.custom-search-button:hover {
  background-color: white !important;
}

.custom-glyphicon-search {
  color: #0193a9 !important;
}

.home-main-block {
  background-color: #f2f5e1;
}

.home-main-block-top {
  position: relative;
  background-image: url("../img/home/home-main-image.jpg");
  background-repeat: no-repeat;
  height: 441px;
}

.home-main-block-bottom {
  background-color: #9ee2de;
}
.home-main-block-bottom > ul {
  display: inline-block;
  list-style-type: none;
  margin: 25px 0;
}
.home-main-block-bottom > ul > li {
  float: left;
}
.home-main-block-bottom > ul > li {
  text-align: center;
  text-transform: uppercase;
}
.home-main-block-bottom > ul > li > span {
  font-family: "Permanent Marker Regular", sans-serif;
  font-size: 12px;
  color: #0193a9;
}
.home-main-block-bottom > ul > li > h1 {
  margin: 5px 0;
  font-family: "Pompiere Regular", sans-serif;
  font-size: 23px;
  color: #fd0036;
}
.home-main-block-bottom > ul > li > h2 {
  margin: 0;
  font-family: "Roboto Slab Light", sans-serif;
  font-size: 12px;
  color: black;
}

.main-tagline {
  position: absolute;
  background-color: #c4ed3e;
  top: 200px;
  left: 250px;
  padding: 5px 16px 0;
  margin: 0;
  z-index: 101;
}
.main-tagline > h1 {
  font-family: "Pompiere Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  color: #0193a9;
  text-transform: uppercase;
  margin: 0;
}

.main-block-search, .main-block-categories {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.main-block-search {
  padding: 20px 55px;
  top: 230px;
  left: 173px;
}
.main-block-search > form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0193a9;
}
.main-block-search > form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0193a9;
}
.main-block-search > form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0193a9;
}
.main-block-search > form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0193a9;
}
.main-block-search > form > input {
  width: 175px;
  font-family: "Roboto Slab Light", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: 55px;
  color: #0193a9;
  margin-right: 20px;
  vertical-align: top;
}
.main-block-search > form > input[type=text] {
  padding-left: 12px;
}

.main-block-categories {
  top: 340px;
  left: 173px;
  padding: 8px 0;
  line-height: 20px;
  width: 657px;
  text-align: center;
  font-family: "Roboto Slab Regular", sans-serif;
  font-size: 13px;
  color: #fd0036;
}
.main-block-categories > a {
  color: #fd0036;
}
.main-block-categories > a:hover {
  color: #e40031;
  text-decoration: underline;
}

.main-block-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: white !important;
  font-weight: bold;
  border: solid 1px #ef2b50;
  background: #ef2b50;
  font-size: 21px;
  font-family: "Roboto Slab Regular", sans-serif;
  padding: 12px 55px;
}
.main-block-button:hover {
  text-decoration: none;
  background: #f0395c;
}
.main-block-button:active {
  position: relative;
  top: 1px;
  color: #f0395c;
}

.why-camperoo-elements {
  margin-top: 12px;
}

.why-camperoo-element-divider {
  margin-top: 33px;
}

.why-camperoo-elements, .why-camperoo-element-divider {
  margin-left: 31px;
}

.explore-tag-line-container {
  background-color: white;
  position: relative;
  height: 150px;
}

.explore-tag-line {
  top: 40px;
  left: 82px;
}

.explore-tag-line-cont {
  top: 82px;
  left: 228px;
}

.explore-tag-line, .explore-tag-line-cont {
  position: absolute;
}
.explore-tag-line > h1, .explore-tag-line-cont > h1 {
  font-family: "Roboto Slab Light", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #0193a9;
  margin: 0;
  text-align: center;
  background-color: #c4ed3e;
}

.explore-link-blocks-container {
  background-color: white;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.explore-link-block-first, .explore-link-block {
  display: inline-block;
  border: 1px dashed black;
  padding: 10px;
}
.explore-link-block-first > a, .explore-link-block > a {
  font-family: "Pompiere Regular", sans-serif;
  color: #fd0036;
  font-size: 20px;
}
.explore-link-block-first > a > img, .explore-link-block > a > img {
  margin-bottom: 15px;
}
.explore-link-block-first > a > h1, .explore-link-block > a > h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Pompiere Regular", sans-serif;
  color: #fd0036;
  font-size: 20px;
}

.explore-link-block-first {
  margin-left: 40px;
}

.explore-link-block {
  margin-left: 20px;
}

.contact-block {
  background-color: white;
  position: relative;
  margin-bottom: 20px;
}

.camperoo-concierge-headline-container {
  height: 110px;
  position: relative;
  top: 40px;
  left: 40px;
}

.camperoo-concierge-headline {
  position: absolute;
  background-color: #c4ed3e;
}
.camperoo-concierge-headline > h1 {
  font-family: "Pompiere Regular", sans-serif;
  text-transform: uppercase;
  font-size: 41px;
  color: #0193a9;
  margin: 0;
  padding: 5px 5px 0;
}

.camperoo-concierge-contact, .camperoo-concierge-quote {
  height: 531px;
}

.camperoo-concierge-contact {
  margin-left: 40px;
}
.camperoo-concierge-contact > p {
  font-family: "Roboto Slab Light", sans-serif;
  margin: 0 0 30px;
  line-height: 25px;
  font-size: 17px;
}
.camperoo-concierge-contact > p > span {
  color: #fd0036;
}
.camperoo-concierge-contact > form input, .camperoo-concierge-contact > form textarea {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #f2f5e1;
  color: #4d4d4d;
  border: 1px solid #d6d6d6;
}
.camperoo-concierge-contact > form input ::-webkit-input-placeholder, .camperoo-concierge-contact > form textarea ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #d6d6d6;
}
.camperoo-concierge-contact > form input :-moz-placeholder, .camperoo-concierge-contact > form textarea :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #d6d6d6;
}
.camperoo-concierge-contact > form input ::-moz-placeholder, .camperoo-concierge-contact > form textarea ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d6d6d6;
}
.camperoo-concierge-contact > form input :-ms-input-placeholder, .camperoo-concierge-contact > form textarea :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #d6d6d6;
}
.camperoo-concierge-contact > form input {
  height: 55px;
}
.camperoo-concierge-contact > form input[type=text], .camperoo-concierge-contact > form input[type=email] {
  padding-left: 12px;
}
.camperoo-concierge-contact > form textarea {
  height: 185px;
  overflow: auto;
  padding: 15px 10px;
}

input#concierge-email {
  width: 80%;
}

input#concierge-zip {
  width: 30%;
}

textarea#concierge-message {
  width: 100%;
}

.form-group {
  margin-bottom: 25px !important;
}

.camperoo-concierge-quote > img {
  margin: 15px 0;
}
.camperoo-concierge-quote > q {
  display: block;
  font-family: "Pompiere Regular", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
}
.camperoo-concierge-quote > p {
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 25px;
}

.contact-us-block {
  font-family: "Roboto Slab Light", sans-serif;
  margin-bottom: 25px;
}
.contact-us-block > h1 {
  margin: 0 0 5px;
  font-size: 20px;
  text-transform: capitalize;
}
.contact-us-block > p {
  margin: 0 0 5px;
  font-size: 14px;
  color: #707070;
}
.contact-us-block > a {
  color: #fd0036;
  text-decoration: none;
  font-size: 14px;
}
.contact-us-block > a:hover {
  text-decoration: underline;
}

.press-list-container {
  background-color: white;
  padding: 20px 0;
}

.press-list > ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.press-list > ul > li {
  float: left;
}
.press-list > ul > li {
  font-family: "Pompiere Regular", sans-serif;
  color: #fd0036;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 15px;
  padding: 0;
}
.press-list > ul > li.press-headline {
  line-height: 58px;
}

.newsletter-signup {
  color: white;
  padding: 25px 0;
}
.newsletter-signup > label {
  font-family: "Roboto Slab Light", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.newsletter-signup > input {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #0193a9;
  font-family: "Pompiere Regular", sans-serif;
  text-transform: uppercase;
  margin-left: 15px;
  font-size: 20px;
  padding: 0 10px;
  height: 41px;
  border: 1px solid #cccccc;
  vertical-align: middle;
}

form.newsletter-signup ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0193a9;
}
form.newsletter-signup :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0193a9;
}
form.newsletter-signup ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0193a9;
}
form.newsletter-signup :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0193a9;
}

.newsletter-submit-button {
  background-color: #0193a9;
  font-family: "Pompiere Regular", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 4px;
}
.newsletter-submit-button:hover {
  color: white;
  text-decoration: underline;
}

.footer-links > ul {
  display: inline-block;
  list-style-type: none;
  font-family: "Roboto Slab Regular", sans-serif;
  color: white;
}
.footer-links > ul > li {
  float: left;
}
.footer-links > ul > li {
  margin: 0 30px;
}
.footer-links > ul > li > h1 {
  font-size: 17px;
  text-align: left;
  margin-bottom: 20px;
}
.footer-links > ul > li > ul {
  list-style-type: none;
  padding: 0;
}
.footer-links > ul > li > ul > li {
  text-align: left;
  font-size: 14px;
  font-family: "Roboto Slab Light", sans-serif;
}
.footer-links > ul > li > ul > li > a {
  color: white;
}
