@font-face {
  font-family: "Pompiere Regular";
  src: url("fonts/Pompiere/Pompiere-Regular.otf");
}
@font-face {
  font-family: "Roboto Slab Regular";
  src: url("fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
}
@font-face {
  font-family: "Roboto Slab Light";
  src: url("fonts/Roboto_Slab/RobotoSlab-Light.ttf");
}
body {
  font-size: 16px;
  background-color: #f2f5e1;
}

.nav-container {
  width: 100%;
  height: 90px;
  font-size: 1.5rem;
  background-color: #0193a9;
}

.main-body {
  background-color: #ffffff;
  height: 1000px;
}

.top-nav-wrapper {
  line-height: 90px;
}

.nav-logo {
  display: inline-block;
  float: left;
  padding-left: 15px;
}

.nav-cat-drop-down, .nav-acct-drop-down, .nav-cart {
  position: relative;
  display: inline-block;
  float: right;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 90px;
}
.nav-cat-drop-down > img, .nav-acct-drop-down > img, .nav-cart > img {
  position: absolute;
}

.nav-cat-drop-down {
  font-family: "Pompiere Regular", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}

.nav-acct-drop-down, .nav-cart {
  font-family: "Roboto Slab Light", sans-serif;
  font-size: 1.4rem;
}

.nav-search-box {
  display: inline-block;
  float: right;
  line-height: 90px;
}
