.home-main-block {
  background-color: $body-bg-color;
}

.home-main-block-top {
  position: relative;
  background-image: url('../img/home/home-main-image.jpg');
  background-repeat: no-repeat;
  height: 441px;
}

.home-main-block-bottom {
  background-color: $aqua;

  > ul {
    @include basic-horizontal-list;
    margin: 25px 0;

    > li {
      text-align: center;
      text-transform: uppercase;

      > span {
        @include permanent-marker;
        font-size: 12px;
        color: $blue;
      }

      > h1 {
        margin: 5px 0;
        @include pompiere-regular;
        font-size: 23px;
        color: $red;
      }

      > h2 {
        margin: 0;
        @include roboto-light;
        font-size: 12px;
        color: $black;
      }
    }
  }
}

$top-baseline: 200px;
$main-block-top: ($top-baseline)+30px;
$main-categories-top: ($main-block-top) + 110px;

.main-tagline {
  position: absolute;
  background-color: $green;
  top: $top-baseline;
  left: 250px;
  padding: 5px 16px 0;
  margin: 0;
  z-index: 101;

  > h1 {
    @include pompiere-regular;
    font-size: 32px;
    letter-spacing: 1px;
    color: $blue;
    text-transform: uppercase;
    margin: 0;

  }
}

.main-block-search, .main-block-categories {
  position: absolute;
  background-color:rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.main-block-search {
  padding: 20px 55px;
  top: ($top-baseline)+30px;
  left: 173px;

  > form {
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    $blue;
      }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $blue;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $blue;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    $blue;
    }

    > input {
      width: 175px;
      @include roboto-light;
      font-size: 20px;
      letter-spacing: 1px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      height: 55px;
      color: $blue;
      margin-right: 20px;
      vertical-align: top;
    }

    > input[type=text] {
      padding-left: 12px;
    }
  }
}

.main-block-categories {
  top: $main-categories-top;
  left: 173px;
  padding: 8px 0;
  line-height: 20px;
  width: 657px;
  text-align: center;
  @include roboto-regular;
  font-size: 13px;
  color: $red;

  > a {
    color: $red;

    &:hover {
      color: darken($red, 5%);
      text-decoration: underline;
    }
  }
}

.main-block-button {
  @include button;
  font-size: 21px;
  @include roboto-regular;
  padding: 12px 55px;
}

.why-camperoo-elements {
  margin-top: 12px;
}

.why-camperoo-element-divider {
  margin-top: 33px;
}

.why-camperoo-elements, .why-camperoo-element-divider {
  margin-left: 31px;
}

.home-sub-main-block {
  // background-color: $white;
}

.explore-tag-line-container {
  background-color: $white;
  position: relative;
  height: 150px;
}

.explore-tag-line {
  top: 40px;
  left: 82px;
}

.explore-tag-line-cont {
  top: 82px;
  left: 228px
}

.explore-tag-line, .explore-tag-line-cont {
  position: absolute;

  > h1 {
    @include roboto-light;
    font-size: 26px;
    text-transform: uppercase;
    color: $blue;
    margin: 0;
    text-align: center;
    background-color: $green;
  }
}

.explore-link-blocks-container {
  background-color: $white;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.explore-link-block-first, .explore-link-block {
  display: inline-block;
  border: 1px dashed $black;
  padding: 10px;

  > a {
    @include pompiere-regular;
    color: $red;
    font-size: 20px;

    > img {
      margin-bottom: 15px;
    }

    > h1 {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      @include pompiere-regular;
      color: $red;
      font-size: 20px;
    }
  }
}

.explore-link-block-first {
  margin-left: 40px;
}

.explore-link-block {
  margin-left: 20px;
}