.contact-block {
  background-color: $white;
  position: relative;
  margin-bottom: 20px;
}

.camperoo-concierge-headline-container {
  height: 110px;
  position: relative;
  top: 40px;
  left: 40px
}

.camperoo-concierge-headline {
  position: absolute;
  background-color: $green;

  > h1 {
    @include pompiere-regular;
    @include uppercase;
    font-size: 41px;
    color: $blue;
    margin: 0;
    padding: 5px 5px 0;
  }
}

.camperoo-concierge-contact, .camperoo-concierge-quote {
  height: 531px;
}

.camperoo-concierge-contact {

  margin-left: 40px;

  > p {
    @include roboto-light;
    margin: 0 0 30px;
    line-height: 25px;
    font-size: 17px;

    > span {
      color: $red;
    }
  }

  > form input, > form textarea {

    @include rounded(6px);
    background-color: $body-bg-color;
    color: lighten($black, 30%);
    border: 1px solid $gray;

    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    $gray;
      }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $gray;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $gray;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    $gray;
    }
  }

  > form input {
    height: 55px;
  }

  > form input[type=text], > form input[type=email], {
    padding-left: 12px;
  }

  > form textarea {
    height: 185px;
    overflow: auto;
    padding: 15px 10px;
  }
}

input#concierge-email {
  width: 80%;
}

input#concierge-zip {
  width: 30%;
}

textarea#concierge-message {
  width: 100%;
}

.form-group {
  margin-bottom: 25px !important;
}

.camperoo-concierge-quote {

  > img {
    margin: 15px 0;
  }

  > q {

    display: block;
    @include pompiere-regular;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
  }

  > p {
    font-family: Georgia, sans-serif;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 25px;
  }
}

.contact-us-block {
  @include roboto-light;
  margin-bottom: 25px;

  > h1 {
    margin: 0 0 5px;
    font-size: 20px;
    text-transform: capitalize;
  }

  > p {
    margin: 0 0 5px;
    font-size: 14px;
    color: darken($gray, 40%);
  }

  > a {
    color: $red;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
}











