.home-main-block {
  background-color: $body-bg-color;
}

.home-main-block-top {
  position: relative;
  background-image: url('../img/home/home-main-image.jpg');
  background-repeat: no-repeat;
  height: 441px;
}

.home-main-block-bottom {
  background-color: $aqua;

  > ul {
    @include basic-horizontal-list;
    margin: 25px 0;

    > li {
      text-align: center;
      text-transform: uppercase;

      > span {
        @include permanent-marker;
        font-size: 12px;
        color: $blue;
      }

      > h1 {
        margin: 5px 0;
        @include pompiere-regular;
        font-size: 23px;
        color: $red;
      }

      > h2 {
        margin: 0;
        @include roboto-light;
        font-size: 12px;
        color: $black;
      }
    }
  }
}

.main-tagline {
  position: absolute;
  background-color: $green;
  top: 200px;
  left: 250px;
  padding: 5px 16px 0;
  margin: 0;

  > h1 {
    @include pompiere-regular;
    font-size: 30px;
    letter-spacing: 1px;
    color: $blue;
    text-transform: uppercase;
    margin: 0;

  }
}

.why-camperoo-elements {
  margin-top: 12px;
}

.why-camperoo-element-divider {
  margin-top: 33px;
}

.why-camperoo-elements, .why-camperoo-element-divider {
  margin-left: 31px;
}

.home-sub-main-block {
  // background-color: $white;
}

.explore-tag-line-container {
  background-color: $white;
  position: relative;
  height: 150px;
}

.explore-tag-line {
  top: 40px;
  left: 82px;
}

.explore-tag-line-cont {
  top: 82px;
  left: 228px
}

.explore-tag-line, .explore-tag-line-cont {
  position: absolute;

  > h1 {
    @include roboto-light;
    font-size: 26px;
    text-transform: uppercase;
    color: $blue;
    margin: 0;
    text-align: center;
    background-color: $green;
  }
}

.explore-link-blocks-container {
  background-color: $white;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.explore-link-block-first, .explore-link-block {
  display: inline-block;
  border: 1px dashed $black;
  height: 210px;
  width: 203px;
}

.explore-link-block-first {
  margin-left: 40px;
}

.explore-link-block {
  margin-left: 20px;
}