.top-nav-wrapper {
  background-color: $white;
  height: $navbar-top-height;
  @include roboto-light;
  color: $blue;
  font-size: 12px;
  line-height: $navbar-top-height;
}

.top-nav-right {

  height: 40px;
  padding-right: 15px;

  > ul {
    @include basic-horizontal-list;
    margin-bottom: 0;

    > li {
      margin-left: 10px;
    }
  }
}

.nav-cart {
  margin-left: 35px !important;

  > a {
    color: $black;

    > img {
      padding-right: 3px;
    }
  }
}

.nav-logo {
  line-height: $navbar-bottom-height;
}

.nav-logo {
  display: inline-block;
  float: left;
  padding-left: 15px;
}

.nav-right-side {
  float: right;
  padding-right: 15px;
  height: $navbar-bottom-height;

  > ul {
    @include basic-horizontal-list;
    @include roboto-light;
    color: $white;
    line-height: $navbar-bottom-height;
    font-size: 12px;
    letter-spacing: 1px;

    > li {
      @include uppercase;
      margin-left: 15px;

      > a {
        color: $white;

        &:hover {
          text-decoration: underline;
        }
      }

      > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        > li {
          line-height: 20px;

          > a {
            color: $white;
          }
        }
      }

    }
  }
}

form#search-box {
  margin-top: 20px;

  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    $blue;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $blue;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $blue;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $blue;
  }
}

input#search-query {
  width: 248px;
  height: 34px;
  @include rounded(6px);
  border: 1px solid #cccccc;
  color: $blue;
  @include uppercase;
}

.custom-search-button {
  position: absolute;
  z-index: 101;
  right: 0px;
  background-color: white;
  border: 1px solid #cccccc;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

button.custom-search-button {

  &:hover {
    background-color: $white !important;
  }
}

.custom-glyphicon-search {
  color: $blue !important;
}
