.top-nav-wrapper {
  line-height: $navbar-height;
}

.nav-logo {
  display: inline-block;
  float: left;
  padding-left: 15px;
}

.nav-cat-drop-down, .nav-acct-drop-down, .nav-cart {
  position: relative;
  display: inline-block;
  float: right;
  color: #ffffff;
  text-transform: uppercase;
  line-height: $navbar-height;

  > img {
    position: absolute;
  }
}

.nav-cat-drop-down {
  @include pompiere-regular;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}

.nav-acct-drop-down, .nav-cart {
  @include roboto-light;
  font-size: 1.4rem;
}

.nav-cart {

}

.nav-search-box {
  display: inline-block;
  float: right;
  line-height: $navbar-height;
}